.dashboard .Header {
  padding-top: 30px;
}

.dashboard .logo {
  justify-content: space-between;
}

.dashboard .logo img {
  padding-left: 10px;
  width: 180px;
  height: 75px;
}

.dashboard .logo a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.dashboard .menu .link ul {
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
}

.dashboard .menu .link a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: 800;
}

.dashboard .user-menu {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.dashboard .user-menu .search input {
  width: 150px;
}

.dashboard .user-menu .search {
  display: none;
  padding-left: 80px;
}

.dashboard .user-menu .logout {
  padding-left: 230px;
}

.dashboard .user-menu ul li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
}

.dashboard .user-menu ul li img {
  width: 25px;
  height: 25px;
}

.dashboard .user-menu ul li a img {
  border-radius: 50%;
}

.dashboard .user-menu ul input {
  width: 120px;
  border-radius: 20px;
}

.dashboard .ti .card {
  text-align: center;
  height: 150px;
  margin: auto;
  font-size: 30px;
  background-color: #6a4029;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.24);
}

.dashboard .opw .card {
  text-align: center;
  margin: auto;
  font-size: 30px;
  background-color: #6a4029;
  color: white;
  height: 150px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.24);
}

.dashboard .yi .card {
  text-align: center;
  margin: auto;
  font-size: 30px;
  background-color: #6a4029;
  color: white;
  height: 150px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.24);
}

.dashboard .chart .card {
  height: 520px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.24);
}

.dashboard .desc {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.dashboard .desc a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.dashboard .desc .socmed img {
  width: 33px;
  height: 33px;
}

.dashboard .desc .cr {
  color: #afb5c0;
  font-family: 'Rubik', sans-serif;
}

.dashboard .product ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.dashboard .product ul a {
  color: #0b132a;
}

.dashboard .engage ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.dashboard .engage ul a {
  color: #0b132a;
}
