.Product .logo {
  padding-left: 50px;
  /* text-align: center; */
  /* justify-content: space-between; */
}

.Product .user-menu {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-top: 20px;
}

.Product .user-menu .search input {
  width: 130px;
}

.Product .user-menu .search {
  padding-left: 80px;
}

.Product .user-menu ul li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
}

.Product .user-menu ul li img {
  width: 25px;
  height: 25px;
}

.Product .user-menu ul li a img {
  border-radius: 50%;
}

.Product .user-menu ul input {
  width: 120px;
  border-radius: 20px;
}

.Product .Header {
  padding-top: 30px;
}

.Product .logo {
  justify-content: space-between;
}

.Product .logo img {
  padding-left: 10px;
  width: 180px;
  height: 75px;
}

.Product .menu .link ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.Product .menu .link a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: 800;
}

.Product .category ul {
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding: 0px 0px;
}

.Product .addproduct {
  padding-right: 30px;
  padding-bottom: 5px;
}

.Product .addproduct button {
  background-color: #6a4029;
  color: white;
  border-radius: 20px;
}

.Product .addcoupon {
  padding-bottom: 5px;
}

.Product .addcoupon button {
  height: 30px;
  background-color: #6a4029;
  color: white;
  border-radius: 20px;
}

.Product .filter .dropdown-toggle {
  color: #6a4029;
  font-weight: bold;
}

.Product .category ul li a {
  color: #6a4029;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.Product .listproduct .product-card .card {
  width: 175px;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-color: white;
}

.Product .listproduct .product-card .card .card-title {
  height: 80px;
}

.Product .listproduct .product-card .card .title {
  font-size: 22px;
  font-weight: 900;
}

.Product .listproduct .product-card .card .price {
  font-family: 'Poppins', sans-serif;
  color: #6a4029;
  font-weight: bold;
}

.Product .listproduct .product-card img {
  margin-left: 12px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.Product .listproduct .product-card .card button {
  color: white;
  font-size: 12px;
  background-color: #6a4029;
  border-radius: 20px;
}

.Product .coupon {
  text-align: center;
  line-height: 15px;
}

.Product .coupon h4 {
  font-family: 'Rubik', sans-serif;
  color: #6a4029;
  font-weight: bold;
  font-size: 25px;
  padding-top: 30px;
}

.Product .coupon p {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  padding-top: 30px;
}

.Product .coupon .overflow {
  padding-left: 40px;
}

.Product .coupon .overflow .listpromocode {
  text-align: center;
}

.Product .coupon .overflow .listpromocode .card {
  width: 260px;
  border-radius: 30px;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-color: white;
  background-color: #ffcb65;
}

.Product .coupon .overflow .listpromocode .card img {
  width: 150px;
  border-radius: 50%;
}

.Product .coupon .overflow .listpromocode .card button {
  background-color: #6a4029;
  color: white;
  border-radius: 20px;
  height: 30px;
}

.Product .coupon .overflow .listpromocode .card .percent p {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: bolder;
  font-size: 22px;
}

.Product .coupon .overflow .listpromocode .card .term p {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 15px;
}

.Product .coupon .overflow .listpromocode .card p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.Product .coupon .overflow .listpromocode .card .code p {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.Product .coupon .overflow .listpromocode .card .valid-until p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.Product .desc {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.Product .desc .logo {
  text-align: left;
}

.Product .desc a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.Product .desc .socmed img {
  width: 33px;
  height: 33px;
}

.Product .desc .cr {
  color: #afb5c0;
  font-family: 'Rubik', sans-serif;
}

.Product .product ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.Product .product ul a {
  color: #0b132a;
}

.Product .engage ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.Product .engage ul a {
  color: #0b132a;
}
