.register .logo {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.register .logo img {
  width: 30px;
  height: 33px;
}

.register .logo a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.register .login {
  text-align: right;
  padding-top: 20px;
}

.register .login button {
  width: 150px;
  font-family: 'Rubik', sans-serif;
  color: #6a4029;
  font-weight: 700;
  background-color: #ffba33;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.register .su button {
  width: 500px;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  color: #6a4029;
  font-weight: 700;
  background-color: #ffba33;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(214, 169, 19, 0.24);
}

.register .google button {
  width: 500px;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  color: black;
  font-weight: 700;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.089);
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(43, 35, 9, 0.24);
}

.register .su {
  text-align: center;
}

.register .google {
  text-align: center;
}

.register .form {
  text-align: center;
}

.register .form h2 {
  font-family: 'Rubik', sans-serif;
  color: #6a4029;
  font-weight: 700;
}

.register .form h5 {
  font-family: 'Rubik', sans-serif;
  color: #4f5665;
  font-weight: 700;
}

.register .form input {
  width: 500px;
  height: 50px;
  border-radius: 10px;
}

.register .form h5 {
  padding-left: 20px;
  text-align: left;
}

.register .member {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  justify-content: space-between;
}

.register .member ul {
  padding-left: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.register .member h3 {
  color: black;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.register .member .get button {
  font-family: 'Rubik', sans-serif;
  color: #6a4029;
  font-weight: 700;
  background-color: #ffba33;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(231, 193, 65, 0.24);
}

.register .member .get {
  padding-top: 30px;
  padding-right: 10px;
}

.register .member .card {
  top: -75px;
  left: 200px;
  width: 700px;
  height: 150px;
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.24);
}

.register .pic {
  height: 1000px;
  background: url('../assets/signup.png');
}

.register .desc {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.register .desc a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.register .desc .socmed img {
  width: 33px;
  height: 33px;
}

.register .desc .cr {
  color: #afb5c0;
  font-family: 'Rubik', sans-serif;
}

.register .product ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.register .product ul a {
  color: #0b132a;
}

.register .engage ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.register .engage ul a {
  color: #0b132a;
}
