.home .Header {
  padding-top: 30px;
  padding-bottom: 10px;
}

.home .logo {
  padding-left: 50px;
  /* justify-content: space-between; */
}

.home .logo img {
  padding-left: 10px;
  width: 180px;
  height: 75px;
}

.home .menu .link ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.home .menu .link a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: 800;
}

.home .user-menu {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-right: 10px;
}

.home .user-menu .search input {
  width: 150px;
}

.home .user-menu .search {
  display: none;
  padding-left: 80px;
}

.home .user-menu .logout {
  padding-left: 230px;
}

.home .user-menu ul li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
}

.home .user-menu ul li img {
  width: 25px;
  height: 25px;
}

.home .user-menu ul li a img {
  border-radius: 50%;
}

.home .user-menu ul input {
  width: 120px;
  border-radius: 20px;
}

.home .jumbotron {
  text-align: center;
  background-image: url(../assets/jt-history.png);
  background-size: cover;
  background-position: 0;
  height: 800px;
}

.home .jumbotron h2 {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.home .desc {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.home .desc a {
  color: #0b132a;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.home .desc .socmed img {
  width: 33px;
  height: 33px;
}

.home .desc .cr {
  color: #afb5c0;
  font-family: 'Rubik', sans-serif;
}

.home .product ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.home .product ul a {
  color: #0b132a;
}

.home .engage ul {
  list-style: none;
  padding-left: 0px;
  line-height: 30px;
}

.home .engage ul a {
  color: #0b132a;
}
